.dboard-innovate .card {
  min-height: 25.26vw;
  border: 1px solid #707070;
  width: 20vw;
  padding: 1.92vw 0 3.4vw;
}

.dboard-innovate .card .title-tag {
  color: #000000;
  font-size: 1.2vw;
  letter-spacing: 0.34px;
  opacity: 0.37;
  font-weight: 500;
}

.dboard-innovate .card .center-text {
  font-size: 1.7vw;
  line-height: 1.2;
  color: #020122;
  font-weight: bold;
  letter-spacing: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 1.3vw 0 1.25vw;
}

.dboard-innovate .card button {
  color: #f74b42;
  font-size: 1.56vw;
  font-weight: 600;
  background-color: transparent;
  border-radius: 1.25vw;
  border: 1px solid #f74b42;
  padding: 0.52vw 0.572vw;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.dboard-innovate .card .idea {
  color: #000000;
  opacity: 0.55;
  letter-spacing: 0.3px;
  margin-top: 1.2vw;
  font-size: 1vw;
}

#br2 {
  display: none;
}

@media (max-width: 600px) {
  .dboard-innovate .card {
    padding: 5vw 1.7rem 3vw !important;
    width: 89.72vw;
    margin: auto;
    float: unset !important;
    min-height: 49.16vw;
  }
  .dboard-innovate .card .title-tag {
    font-size: 4.166vw;
    font-weight: 500;
  }
  .dboard-innovate .card .center-text {
    font-size: 3.33vw;
    line-height: 1.3;
  }

  #br {
    display: none;
  }
  .dboard-innovate .card button {
    font-size: 3.33vw;
    padding: 0.2rem 1rem;
    margin: 0.4rem 0;
    border-radius: 4vw;
  }
  #br2 {
    display: block;
  }
  .idea {
    width: 46.11vw;
    font-size: 3.33vw !important;
    margin: auto;
    text-align: center;
  }
}

/* @media(min-width:768px) and (min-height:1000px){
    .dboard-innovate .card{
        padding: 4vw 5vw !important;
        border-radius: 3vw;
        width: unset;
        float: unset !important;
    }
    .dboard-innovate .card .title-tag{
        font-size: 4vw;
    }
    .dboard-innovate .card .center-text{
        font-size: 3.5vw;
    }
    .dboard-innovate .card button{
        font-size: 3.6vw;
        padding: 1vw 4vw;
        border-radius: 5vw;
    }
    .idea{
       font-size: 3.3vw !important;
    }
} */
