.dashboard-body {
  background-color: #f0f0f2;
}

.dashboard-card-title {
  font-size: 1.71vw;
  letter-spacing: 1.65px;
  font-weight: 500;
  color: #3a3c4a;
  margin-bottom: 1.14vw;
  margin-left: 0.98vw;
}

.dashboard-body .card {
  box-shadow: 0px 4px 4px #0000004d;
  border-radius: 0.7rem;
  border: 1px solid #707070;
}

.dashboard-body .card-content {
  padding: 1.66vw 1vw 0.5vw 2.8vw;
  height: 23.25vw;
  overflow-y: auto;
}

.dashboard-body .card-title {
  font-size: 1.71vw;
  color: #151b49;
  letter-spacing: 0;
  font-weight: 500;
  margin-bottom: unset;
}

.dashboard-body .card .section-day {
  font-size: 1.4vw;
  color: #3a3c4a;
  font-weight: 500;
}

.dashboard-body .card .section-intro {
  color: #3a3c4a;
  font-size: 1.3vw;
}

.dashboard-body .card .inner-card {
  background-color: #f0f0f2;
  padding: 1.5vw;
  border-radius: 0.7rem;
  color: #0a0e2a;
  font-size: 1.2vw;
  margin-bottom: 2vw;
}

.section-intro button {
  background-color: #9999995e;
  color: #3a3c4a;
  border: none;
  margin: 0.5vw 0 0 1vw;
  font-size: 1vw;
  padding: 0.5vw 1.5vw;
  cursor: pointer;
}

.dashboard-body .status {
  color: #f74b42;
  font-size: 1.1vw;
  margin-left: 2.2vw;
}

/* .show{
    display: block;
}

.dropdown-content {
    position: relative;
    display: inline-block;
}
  
.dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
} */

.progressbar-progress {
  background-color: #32c1cd !important;
  height: 1.7vw !important;
  border-radius: 0.7rem !important;
}

.progressbar-container {
  border: 1px solid #c9c5c5 !important;
  border-radius: 0.7rem !important;
}

.dashboard-body .joining-details button {
  color: #f74b42;
  border: 1px solid #f74b42;
  padding: 0.1vw 1.4vw;
  background-color: transparent;
  border-radius: 1rem;
  font-size: 1.1vw;
  margin: 0 0 0 1vw;
}

.dashboard-body .joining-details .join-date {
  font-size: 1vw;
}

.dashboard-body .learncard {
  margin-right: 1.6vw;
  width: 42vw;
  min-height: 23.56vw;
}

.not-enrolled {
  font-size: 2vw !important;
}
.not-enrolled button {
  font-size: 1.5vw;
  padding: 1vw 1vw;
  margin-top: 2vw;
}

@media (max-width: 600px) {
  .dashboard-card-title {
    font-size: 4.44vw;
    letter-spacing: unset;
    font-weight: 500;
    color: #3a3c4a;
    margin-bottom: 3.33vw;
    margin-top: 4.72vw;
    margin-left: 6.94vw;
  }
  .dashboard-body .card-title {
    font-size: 4.44vw;
    color: #151b49;
    letter-spacing: unset;
    font-weight: 500;
  }

  .dashboard-body .card {
    box-shadow: 0px 4px 4px #0000004d;
    border-radius: 0.4rem;
    border: 1px solid #707070;
    width: 90.55vw;
    margin: auto;
  }
  .dashboard-body .card-content {
    height: 56.38vw;
    padding: 1rem 1.3rem;
  }

  .dashboard-body .card .section-day {
    font-size: 1rem;
    padding-right: 0.4rem !important;
  }

  .dashboard-body .card .section-title {
    font-size: 0.9rem;
  }
  .dashboard-body .status {
    font-size: 0.8rem;
  }
  .dashboard-body .card .inner-card {
    background-color: #f0f0f2;
    padding: 0.8rem;
    border-radius: 0.4rem;
    color: #0a0e2a;
    font-size: 0.9rem;
  }
  .dashboard-body .joining-details button {
    background-color: #f74b42;
    color: #ffffff;
    font-size: 0.7rem;
    padding: 0.15rem 0.6rem;
  }
  .dashboard-body .joining-details .join-date {
    font-size: 0.65rem;
    font-weight: 500;
  }
  .section-intro button {
    font-size: 0.7rem;
    margin: 0.6rem 0 0.5rem 0.7rem;
  }
  .progressbar-progress {
    height: 0.9rem !important;
  }

  .dashboard-body .card-title {
    margin-bottom: 0.4rem;
  }
  .dashboard-body .card ul {
    margin-bottom: 0.4rem;
  }
  .header-upper {
    padding: 1rem 2rem 1.5rem 2.2rem;
  }
  .learncard {
    margin-right: unset;
  }
  .not-enrolled {
    font-size: 5vw !important;
  }
  .not-enrolled button {
    font-size: 3vw;
    padding: 1vw 2vw;
    margin-top: 2vw;
  }
}
/* 
@media (max-width:400px){
    .dashboard-card-title{
        font-size: 4.5vw;
        letter-spacing:unset;
        font-weight: 500;
        color: #3A3C4A;
        margin-bottom: 0.6rem;
        margin-top: 4vw;
    }
    .dashboard-body .card-title{
        font-size: 4.1vw;
        color: #151B49;
        letter-spacing: unset;
        font-weight: 500;
    }

    .dashboard-body .card{
        box-shadow: 0px 4px 4px #0000004D;
        border-radius: 0.4rem;
        border: 1px solid #707070;
        width: unset;
        margin-right: unset;
    }
    .dashboard-body .card-content{
        height: 60vw;
        padding: 4vw;
    }

    .dashboard-body .card .section-day{
        font-size: 3.8vw;
        padding-right: 0.4rem !important;
    }

    .dashboard-body .card .section-title{
        font-size: 3.4vw;
    }
    .dashboard-body .status{
        font-size: 3vw;
    }
    .dashboard-body .card .inner-card {
        background-color: #F0F0F2;
        padding: 0.8rem;
        border-radius: 0.4rem;
        color: #0A0E2A;
        font-size: 3vw;
        margin-bottom: 3vw;
    }
    .dashboard-body .joining-details button{
        background-color: #F74B42;
        color: #FFFFFF;
        font-size: 2.8vw;
        padding: 0.15rem 0.6rem;
    }
    .dashboard-body .joining-details .join-date{
        font-size: 2.7vw;
        font-weight: 500;
    }
    .section-intro button{
        font-size: 2.6vw;
        margin: 0.6rem 0 0.5rem 0.7rem;
    }
    .progressbar-progress{
        height: 0.9rem !important;
    }

    
    .dashboard-body .card-title{
        margin-bottom: .4rem
    }
    .dashboard-body .card ul{
        margin-bottom: 0.4rem;
    }
    .header-upper{
        padding: 1rem 2rem 1.5rem 2.2rem;
    }
    .learncard{
        margin-right: unset;
    }
    
} */
/* 
@media(min-width:768px) and (min-height:1000px){
    .dashboard-body .card{
        border-radius: 2vw !important;
        width: unset;
        margin-right: unset;
    }
    .dashboard-card-title{
        font-size: 4vw;
        margin: 8vw 0 1.5vw 2.5vw;
    }
    .dashboard-body .card-title{
        font-size: 3.5vw;
    }
    .dashboard-body .card .section-day{
        font-size: 3.2vw;
    }
    .dashboard-body .card .section-title{
        font-size: 3vw;
    }
    .dashboard-body .status{
        font-size: 2.9vw;
    }
    .dashboard-body .card .inner-card{
        font-size: 3vw;
        padding: 3vw 4vw;
        margin-bottom: 3vw;
    }
    .dashboard-body .joining-details button{
        font-size: 2.8vw;
        padding: 0.5vw 3vw;
        border-radius: 3vw;
    }
    .dashboard-body .joining-details .join-date{
        font-size: 2.6vw;
    }
    .dashboard-body .card ul{
        margin-bottom: 2vw;
    }
    .section-intro button{
        font-size: 2.8vw;
        padding: 1vw 2vw;
    }
    .dashboard-body .card-content{
        height: 52vw;
        padding: 3.5vw 3vw 0.5vw 3vw;
    }
    .progressbar-progress{
        height: 3.4vw !important;
    }
    .progressbar-container{
        border-radius: 3vw !important;
    }
    .learncard{
        margin-right: unset;
    }
    .not-enrolled{
        font-size: 4vw !important;
    }
    .not-enrolled button{
        font-size: 3vw;
        padding: 1vw 2vw;
        margin-top: 2vw;
    }
} */
