.project-preview {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    z-index: 5;
    overflow: auto;
}

.project-preview > *:not(.project-image) {
    margin: 0 calc(277.5 * var(--vp));
}

.project-preview > .project-image {
    width: calc(100% - 161 * var(--vp));
    height: calc(634 * var(--vp));
    margin: 0 calc(80.5 * var(--vp));
}

.project-preview > .close-preview, .project-preview > .watermark {
    position: relative;
    margin: 0;
}

.project-preview > .close-preview > .close-icon {
    position: absolute;
    left: calc(81 * var(--vp));
    top: calc(30 * var(--vp));
    width: calc(46 * var(--vp));
    height: calc(46 * var(--vp));
    font-size: calc(36 * var(--vp));
    color: #171636;
    cursor: pointer;
}

.project-preview > .watermark > .box {
    position: absolute;
    right: 0;
    top: calc(-95.5 * var(--vp));
}

.project-preview > .watermark .box-container {
    position: relative;
    width: calc(206 * var(--vp));
    height: calc(191 * var(--vp));
    margin: 0;
    background: #E0C2EF 0% 0% no-repeat padding-box;
    box-shadow: calc(0 * var(--vp)) calc(8 * var(--vp)) calc(20 * var(--vp)) #00000042;
}

.project-preview > .watermark .box-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: calc(20 * var(--vp));
    width: calc(120 * var(--vp));
}

.project-preview > .watermark .image {
    width: calc(78 * var(--vp));
    height: calc(65 * var(--vp));
    background-color: transparent;
}

.project-preview > .watermark .name {
    font: normal normal 500 calc(17 * var(--vp))/calc(23 * var(--vp)) Roboto;
    letter-spacing: calc(0 * var(--vp));
    color: #171636;
}

.project-preview > .watermark .before-top {
    position: absolute;
    content: "";
    width:0;
    left: calc(-50 * var(--vp));
    border-right:solid calc(51 * var(--vp)) #E0C2EF;
    border-top:solid calc(0 * var(--vp)) transparent;
    border-bottom:solid calc(95.5 * var(--vp)) transparent;
    z-index: 2;
}

.project-preview > .watermark .before-bottom {
    position: absolute;
    content: "";
    width:0;
    left: calc(-50 * var(--vp));
    top: calc(95.5 * var(--vp));
    border-right:solid calc(51 * var(--vp)) #E0C2EF;
    border-top:solid calc(95.5 * var(--vp)) transparent;
    border-bottom:solid calc(0 * var(--vp)) transparent;
    z-index: 2;
}

.project-preview > .project-heading {
    margin-top: calc(33 * var(--vp));
    font: normal normal bold calc(67 * var(--vp))/calc(88 * var(--vp)) Roboto;
    letter-spacing: calc(0 * var(--vp));
    color: #3A3C4A;
    text-align: center;
    height: calc(88 * var(--vp));
}

.project-preview > .project-category {
    margin-top: calc(11 * var(--vp));
    margin-bottom: calc(19 * var(--vp));
    height: calc(53 * var(--vp));
}

.project-preview > .project-category > div {
    column-gap: calc(15 * var(--vp));
}

.project-preview > .project-category .arrow-stick {
    width: calc(96 * var(--vp));
    height: calc(22 * var(--vp));
    display: flex;
    align-items: center;
}

.project-preview > .project-category .arrow-stick > .stick {
    width: calc(74 * var(--vp));
    border: calc(3 * var(--vp)) solid #FE730C;
}

.project-preview > .project-category .arrow-stick > .point {
    width: calc(22 * var(--vp));
    height: calc(22 * var(--vp));
    background: #32C1CD 0% 0% no-repeat padding-box;
    border-radius: 50%;
}

.project-preview > .project-category .name {
    font: normal normal bold calc(40 * var(--vp))/calc(53 * var(--vp)) Roboto;
    letter-spacing: calc(0 * var(--vp));
    color: #3A3C4A;
}

.project-preview > .project-by {
    margin-bottom: calc(98 * var(--vp));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 calc(85 * var(--vp));
    height: calc(39 * var(--vp));
}

.project-preview > .project-category > div,
.project-preview > .project-by > div {
    width: initial;
}

.project-preview > .project-category > div,
.project-preview > .project-by > div,
.project-preview > .project-by > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-preview > .project-by > div {
    column-gap: calc(22 * var(--vp));
}

.project-preview > .project-by .text {
    font: normal normal normal calc(25 * var(--vp))/calc(33 * var(--vp)) Roboto;
    letter-spacing: calc(0 * var(--vp));
    color: #3A3C4A;
}

.project-preview > .project-by .name {
    box-shadow: calc(0 * var(--vp)) calc(5 * var(--vp)) calc(15 * var(--vp)) #00000029;
    border: calc(1 * var(--vp)) dashed #FE730C;
    border-radius: calc(3 * var(--vp));
    font: normal normal medium calc(28 * var(--vp))/calc(37 * var(--vp)) Roboto;
    letter-spacing: calc(0 * var(--vp));
    color: #FE730C;
    padding: 0 calc(26 * var(--vp));
}

.project-preview > .project-brief-heading,
.project-preview > .components-heading,
.project-preview > .project-steps-heading,
.project-preview > .project-conclusion-heading {
    font: normal normal bold calc(50 * var(--vp))/calc(66 * var(--vp)) Roboto;
    letter-spacing: calc(0 * var(--vp));
    color: #3A3C4A;
    text-align: left;
}

.project-preview > .project-brief,
.project-preview > .components .text,
.project-preview > .project-steps .step-heading,
.project-preview > .project-steps .sdesc,
.project-preview > .project-conclusion .conclusion-heading,
.project-preview > .project-conclusion .conclusion-sub-heading,
.project-preview > .project-conclusion .desc {
    font: normal normal normal calc(33 * var(--vp))/calc(44 * var(--vp)) Roboto;
    letter-spacing: calc(0.49 * var(--vp));
    color: #707070;
    text-align: justify;
}

.project-preview > .project-brief {
    margin-top: calc(42 * var(--vp));
    margin-bottom: calc(60 * var(--vp));
}

.project-preview > .components,
.project-preview > .project-steps {
    margin-top: calc(38 * var(--vp));
    margin-bottom: calc(78 * var(--vp));
}

.project-preview > .project-video {
    width: calc(100% - 852 * var(--vp));
    height: calc(557 * var(--vp));
    margin: 0 calc(426 * var(--vp));
    margin-bottom: calc(90 * var(--vp));
}

.project-preview > .components > div {
    height: 45px;
    position: relative;
    margin-top: calc(4 * var(--vp));
    margin-bottom: calc(4 * var(--vp));
}

.project-preview > .components .text {
    padding-left: calc(49 * var(--vp));
}

.project-preview > .components .bullet {
    position: absolute;
    left: 0;
    top: calc(22.5 * var(--vp));
    width: calc(11 * var(--vp));
    height: calc(11 * var(--vp));
    border-radius: 50%;
    background: #707070 0% 0% no-repeat padding-box;
}

.project-preview > .project-steps > div:first-child {
    margin-top: calc(4 * var(--vp));
}

.project-preview > .project-steps > div:last-child {
    margin-bottom: calc(4 * var(--vp));
}

.project-preview > .project-steps > div:not(:first-child) {
    margin-top: calc(30 * var(--vp));
}

.project-preview > .project-steps > div:not(:last-child) {
    margin-bottom: calc(30 * var(--vp));
}

.project-preview > .project-steps .step-heading > .step-no {
    font: normal normal bold calc(35 * var(--vp))/calc(46 * var(--vp)) Roboto;
    letter-spacing: calc(0.53 * var(--vp));
    padding-right: calc(62 * var(--vp));
}

.project-preview > .project-steps .step-heading,
.project-preview > .project-conclusion .conclusion-heading,
.project-preview > .project-conclusion .conclusion-sub-heading {
    font-weight: 500;
    text-align: unset;
}

.project-preview > .project-conclusion .conclusion-heading,
.project-preview > .project-conclusion .conclusion-sub-heading {
    margin-bottom: calc(9 * var(--vp));
}

.project-preview > .project-conclusion .conclusion-sub-heading {
    font: normal normal 500 calc(22 * var(--vp))/calc(33 * var(--vp)) Roboto;
}

.project-preview > .project-steps .image, .project-preview > .project-conclusion .image {
    width: 100%;
    height: calc(557 * var(--vp));
    margin: calc(42 * var(--vp)) 0;
}

.project-preview > .project-conclusion > div {
    margin-top: calc(42 * var(--vp));
}

.project-preview > .social-btns {
    margin: calc(178.5 * var(--vp)) calc(463 * var(--vp));
    display: flex;
    column-gap: calc(33 * var(--vp));
    height: calc(74 * var(--vp));
}

.project-preview .social-btn {
    width: calc(224 * var(--vp));
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: calc(29 * var(--vp));
    padding-right: calc(53 * var(--vp));
    border-radius: calc(8 * var(--vp));
    cursor: pointer;
}

.project-preview .social-btn > .icon {
    width: calc(46 * var(--vp));
    height: calc(46 * var(--vp));
    font-size: calc(46 * var(--vp));
    color: #FFFFFF;
}

.project-preview .social-btn > .text {
    font: normal normal normal calc(25 * var(--vp))/calc(40 * var(--vp)) Roboto;
    letter-spacing: calc(0.38 * var(--vp));
    color: #FFFFFF;
}

.project-preview .social-btn.twitter {
    background: #55ACEE 0% 0% no-repeat padding-box;
}

.project-preview .social-btn.fb {
    background: #1B2FC5 0% 0% no-repeat padding-box;
}

.project-preview .social-btn.gmail {
    background: #F0F0F2 0% 0% no-repeat padding-box;
}

.project-preview .social-btn.gmail > .text {
    color: #707070;
}

.project-preview .social-btn.gmail > .icon {
    color: #707070;;
}

.project-preview .social-btn.wa {
    background: #4CAF50 0% 0% no-repeat padding-box;
}

.project-preview > .profile {
    margin-left: calc(422 * var(--vp));
    margin-right: calc(315 * var(--vp));
    width: calc(100% - 737 * var(--vp));
    height: calc(311 * var(--vp));
    padding: calc(51 * var(--vp)) 0;
    padding-left: calc(103 * var(--vp));
    padding-right: calc(62 * var(--vp));
    margin-bottom: calc(127 * var(--vp));
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: calc(1 * var(--vp)) solid #DEDEE2;
}

.project-preview > .profile > .pic {
    width: calc(209 * var(--vp));
    height: calc(209 * var(--vp));
    border-radius: 50%;
}

.project-preview > .profile > .name-about {
    width: calc(704 * var(--vp));
    text-align: left;
    color: #020122;
}

.project-preview > .profile .name {
    font: normal normal 500 calc(25 * var(--vp))/calc(33 * var(--vp)) Roboto;
    letter-spacing: calc(0.38 * var(--vp));
    margin-bottom: calc(9 * var(--vp));
}

.project-preview > .profile .about {
    font: normal normal normal calc(23 * var(--vp))/calc(30 * var(--vp)) Roboto;
    letter-spacing: calc(0.34 * var(--vp));
}