.youngInnovatorCards__container {
  background-color: #0e0234;
  padding: 40px 0;
}

.youngInnovatorCards__header h3 {
  font-size: calc(48 * var(--vp));
  color: #3cfaff;
  letter-spacing: calc(1.58 * var(--vp));
  text-align: center;
}

.youngInnovatorCards__header hr {
  border-color: #f74b42;
  width: calc(111 * var(--vp));
  margin: calc(40.5 * var(--vp)) auto calc(40.5 * var(--vp)) auto;
  border-width: calc(3 * var(--vp));
}

/* .youngInnovatorCards__singleCard {
  min-height: 500px;
} */

.youngInnovatorCards__outcome {
  min-height: 150px;
}

.youngInnovatorCards__singleCard__bottomRightImg {
  bottom: 0;
}

.youngInnovatorCardsImg {
  width: 32px !important;
}

.youngInnovatorCards__enrollBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f74b42;
  font-size: calc(33 * var(--vp));
  letter-spacing: calc(1.1 * var(--vp));
  height: calc(80 * var(--vp));
  color: #ffffff;
  text-transform: uppercase;
  border: calc(2 * var(--vp)) solid #f74b42;
  border-radius: 40px;
  margin: 40px auto 0 auto;
  width: fit-content;
  padding: 0 20px;
}

@media (max-width: 600px) {
  .youngInnovatorCards__singleCard__bottomRightImg {
    display: block;
  }
  .youngInnovatorCards__header h3 {
    font-size: calc(24 * var(--vm));
    text-align: center;
  }
  .youngInnovatorCards__header hr {
    border-color: #f74b42;
    width: 40%;
    margin: calc(80.5 * var(--vp)) auto 40px auto;
    border-width: calc(15 * var(--vp));
  }
  .youngInnovatorCards__enrollBtn {
    background-color: #f74b42;
    font-size: calc(20 * var(--vm));
    letter-spacing: 0;
    /* height: calc(31 * var(--vm)); */
    color: #ffffff;
    text-transform: capitalize;
    border: calc(2 * var(--vp)) solid #f74b42;
    border-radius: 40px;
    margin: 40px auto 0 auto;
    width: fit-content;
    padding: 20px 40px;
  }
}
