
.youngInnovator_header{
    color: #3cfaff;
    padding: 40px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 30px;
}

.youngInnovator_process{
    display: flex;
    justify-content: space-around;
}

.register, .interview, .result, .innovator{
    box-sizing: border-box;
    /* text-align: center; */
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 50px;
    float: left;
} 

.interview, .result, .innovator{
    width: 400px;
}

.interview, .result, .innovator{
    padding-left: 60px;
}

.register img, .innovator img, .result img, .interview img{
    width: 21%;
    height: 56%;
    margin-right: 12px;
    margin-top: 30px;
}

.register {
    display: flex;
    background-color:#161d6f;;
    display: inline-block;
    position: relative;
    height: 225px;
    width: 315px;
}

.interview{
    background-color: #1d2d50;
    display: inline-block;
    height: 225px;
}

.result{
    background-color: #161d6f;
    display: inline-block;
    height: 225px;
}

.interview img{
    margin-left: 17px;
}

.result img{
    margin-left: 17px;
}

/* .result h4{
    margin-top: -80px;
    margin-left: 48px;
    color: #3cfaff;
    font-size: calc(48 * var(--vp));
    text-align: center;
} */

.innovator{
    background-color: #1d2d50;
    height: 225px;
}

.innovator img{
    margin-left: 40px;
}

.innovator h4{
    width: 174px;
    margin-left: 124px;
    margin-top: -84px;
    color: #3cfaff;
    font-size: calc(48 * var(--vp));
    text-align: center;
}

.youngInnovator_header p, .youngInnovator_para h3{
    font-size: calc(28 * var(--vp)) !important;
    color: #fff;
    letter-spacing: calc(1.58 * var(--vp));
    width: 900px;
    text-align: center;
    margin: auto; 
}

.youngInnovator_para{
    font-size: calc(28 * var(--vp)) !important;
    color: #fff;
    letter-spacing: calc(1.58 * var(--vp));
    margin-top: 25px;
    text-align: center;
}


.youngInnovator_header h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.result h4{
    margin-left: 30px;
}

.result h4, .interview h4, .register h4{
    color: #3cfaff;
    font-size: calc(48 * var(--vp));
    text-align: center;
    margin-top: -68px;
}

p{
    color: white;
}

@media (min-width: 1000px){
    .register:after{
        border-left: 50px solid;
        border-top: 127px solid transparent;
        border-bottom: 95px solid transparent;
        display: inline-block;
        content: '';
        position: absolute;
        right: -50px;
        top: 3px;
        color: #161d6f;
    }
    
    .interview:after{
        height: 225px;
        border-left: 50px solid;
        border-top: 126px solid transparent;
        border-bottom: 95px solid transparent;
        display: inline-block;
        content: '';
        position: absolute;
        right: 753px;
        top: 5003px; 
        color: #1d2d50;
    }
    
    .result:after{
        height: 225px;
        border-left: 50px solid;
        border-top: 126px solid transparent;
        border-bottom: 95px solid transparent;
        display: inline-block;
        content: '';
        position: absolute;
        right: 352px;
        top: 5003px;
        color: #161d6f;
    }
}

@media (max-width: 600px){

.youngInnovator_process  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.youngInnovator_header p{
    font-size: calc(14 * var(--vm)) !important;
    width: 200px;
}

.youngInnovator_process div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
} 

.register, .result{
    background-color: #161d6f;
    position: relative;
    height: 150px;
    width: 100%;
}

.interview, .innovator{
    background-color: #1d2d50;
    position: relative;
    height: 150px;
    width: 100%;
}

.register img{
    width: 13%;
    margin-left: 86px;
    margin-bottom: 24px;
}

.interview img{
    width: 13%;
    margin-left: 57px;
    margin-bottom: 26px;
}

.interview h4{
    margin-right: 25px;
}

.result img {
    width: 13%;
    margin-left: 56px;
    margin-bottom: 42px;
}

.result h4{
    margin-right: 25px ;
}

.innovator img{
    width: 13%;
    margin-left: 56px;
    margin-bottom: 42px;
}

.innovator h4{
    margin-left: 89px;
}

.youngInnovator_para{
    height: 10px;
    text-align: center;
    margin-left: -15px;
}
}