.youngInnovatorVideo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 150px auto 150px auto;
}

.youngInnovatorVideo__video {
  width: 46%;
  background-color: #171636;
  height: 400px;
}

.youngInnovatorVideo__body {
  width: 46%;
}

.youngInnovatorVideo__body h3 {
  font-size: calc(48 * var(--vp));
  color: #3cfaff;
  letter-spacing: calc(1.58 * var(--vp));
  text-align: left;
}

.youngInnovatorVideo__video .iframe{
  height: 400px;
  width: 630px; 
}

.youngInnovatorVideo__body hr {
  border-color: #f74b42;
  width: calc(111 * var(--vp));
  margin: calc(40.5 * var(--vp)) auto calc(40.5 * var(--vp)) 0;
  border-width: calc(3 * var(--vp));
}

.youngInnovatorVideo__body p {
  font-size: calc(28 * var(--vp));
  color: #fff;
  letter-spacing: calc(1.58 * var(--vp));
  text-align: left;
  /* margin-top: 20px; */
}

@media (max-width: 600px) {
  .youngInnovatorVideo {
    flex-direction: column;
    align-items: center;
    margin: 55px auto;
  }
  .youngInnovatorVideo__video {
    width: 80vw;
    height: 200px;
  }
  .youngInnovatorVideo__body {
    width: 90%;
    margin-top: 30px;
  }
  .youngInnovatorVideo__body h3 {
    font-size: calc(24 * var(--vm));
    text-align: center;
  }
  .youngInnovatorVideo__body p {
    font-size: calc(14 * var(--vm));
    text-align: center;
    margin-top: 30px;
  }
  .youngInnovatorVideo__body hr {
    border-color: #f74b42;
    width: 40%;
    margin: calc(60.5 * var(--vp)) auto calc(60.5 * var(--vp)) auto;
    border-width: calc(15 * var(--vp));
    margin-top: 20px;
  }

  .youngInnovatorVideo__video .iframe{
    height: 200px;
    width: 303px; 
  }
}
