.youngInnovatorWhy {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 80px auto 150px auto;
}

.youngInnovatorWhy__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 2rem;
  place-items: center;
}

.youngInnovatorWhy h3 {
  font-size: calc(48 * var(--vp));
  color: #3cfaff;
  letter-spacing: calc(1.58 * var(--vp));
  text-align: center;
  margin-bottom: 30px;
}

.youngInnovatorWhy__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.youngInnovatorWhy__card p {
  color: #3cfaff;
  letter-spacing: calc(1.58 * var(--vp));
  text-align: center;
  font-size: calc(30 * var(--vp));
  width: 250px;
}

.youngInnovatorWhy__card img {
  width: 50%;
}

.img-2{
  margin-top: 50px;
}

.img-4{
  margin-top: 150px;
}

.img-6{
  margin-top: 70px;
}

.img-5{
  margin-top: -30px;
  margin-bottom: 10px;
}

.para1, .para2, .para6{
  margin-top: 20px;
}

.para3{
  margin-top: 10px;
}

.para4{
  margin-top: 25px;
}

.para5{
  margin-top: 20px;
}

@media (max-width: 400px) {
  .youngInnovatorWhy {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 80px auto 40px auto;
  }

  .youngInnovatorWhy h3 {
    font-size: calc(24 * var(--vm));
    color: #3cfaff;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 50px;
  }
  .youngInnovatorWhy__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
    gap: 2rem;
    place-items: center;
  }
  .youngInnovatorWhy__card img {
    width: 80px;
  }

 .youngInnovatorWhy__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.youngInnovatorWhy__card p {
    font-size: calc(14 * var(--vm)) !important;
    width: 115px;
}

.youngInnovatorWhy__card .img-2 {
  margin-top: 21px;
}

.youngInnovatorWhy__card .img-4 {
  margin-top: 42px;
}

.youngInnovatorWhy__card .para4 {
  margin-top: 0px;
}

.youngInnovatorWhy__card .img-6 {
  margin-top: 39px;
}

}
