.youngInnovatorCards__container {
  background-color: #0e0234;
  padding: 40px 0;
}

.youngInnovator_color{
  background-color: #f74b42;
  color: white;
}

.btn2{
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

button{
  text-align: right;
  margin-right: 100px;
  margin-top: -10px;
}

.youngInnovatorCards__header{
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  margin-top: 45px;
}

.youngInnovatorCards__header div{
  margin-left: -89px;
}

.youngInnovatorCards__header h3 {
  font-size: calc(48 * var(--vp));
  color: #3cfaff;
  letter-spacing: calc(1.58 * var(--vp));
  margin-top: 10px;
  margin-left: 0px;
}

hr {
  border-color: #f74b42;
  width: calc(111 * var(--vp));
  text-align: center;
  /* margin: calc(40.5 * var(--vp)) auto calc(40.5 * var(--vp)) auto; */
  border-width: calc(3 * var(--vp));
}

.dropdown button{
  padding: 15px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  font: normal normal normal calc(29 * var(--vp)) / calc(38 * var(--vp)) Roboto;
  letter-spacing: calc(0.87 * var(--vp));
  opacity: 1;
  margin: calc(18 * var(--vp)) calc(0 * var(--vp));
  background-color: #f74b42 ;
  color: white;
  border: 2px solid #f74b42;
  font-weight: normal;
}

.dropdown-toggle::after {
  border-top: 8px solid;
  border-right: 8px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 8px solid transparent;
  /* text-align: center; */
  /* padding-left: 10px; */
  margin-left: 10px;
  margin-bottom: -10px;
}

.dropdown-toggle{
  padding: 15px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  font: normal normal normal calc(29 * var(--vp)) / calc(38 * var(--vp)) Roboto;
  letter-spacing: calc(0.87 * var(--vp));
  opacity: 1;
  margin: calc(18 * var(--vp)) calc(0 * var(--vp));
  background-color: #f74b42 ;
  color: white;
  border: 2px solid #f74b42;
  font-weight: normal;
}

div.show.dropdown{
  text-decoration: none;
  display: block;
  text-align: center;
  font: normal normal normal calc(29 * var(--vp)) / calc(38 * var(--vp)) Roboto;
  letter-spacing: calc(0.87 * var(--vp));
  opacity: 1;
  background-color:#0e0234 ;
  color: #f74b42;
  border: 2px solid #f74b42;
  font-weight: normal;
}

.dropdown-item:hover{
  color: #f74b42;
}

span{
  color: #f74b42;
}

.youngInnovatorCards__outcome {
  min-height: 150px;
}

.youngInnovatorCards__singleCard__bottomRightImg {
  bottom: 0;
}

.youngInnovatorCardsImg {
  width: 32px !important;
}

.youngInnovatorCards__enrollBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f74b42;
  font-size: calc(33 * var(--vp));
  letter-spacing: calc(1.1 * var(--vp));
  height: calc(80 * var(--vp));
  color: #ffffff;
  text-transform: uppercase;
  border: calc(2 * var(--vp)) solid #f74b42;
  border-radius: 40px;
  margin: 40px auto 0 auto;
  width: fit-content;
  padding: 0 20px;
  margin-top: 100px;
}

.youngInnovator_btn{
  margin-top: 40px;
  margin-left: 610px;
}

.youngInnovator_btn button{
  color: #f74b42;
  background-color: #0e0234;
  padding: 15px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  font: normal normal normal calc(29 * var(--vp)) / calc(38 * var(--vp)) Roboto;
  letter-spacing: calc(0.87 * var(--vp));
  opacity: 1;
  margin: calc(18 * var(--vp)) calc(0 * var(--vp));
  border: 2px solid #f74b42;
  font-weight: normal;
}

.youngInnovator_btn button:hover{
  padding: 15px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  font: normal normal normal calc(29 * var(--vp)) / calc(38 * var(--vp)) Roboto;
  letter-spacing: calc(0.87 * var(--vp));
  opacity: 1;
  margin: calc(18 * var(--vp)) calc(0 * var(--vp));
  background-color: #f74b42 ;
  color: white;
  border: 2px solid #f74b42;
  font-weight: normal;
}

.youngInnovator_dropDown{
  width: 200px;
  position: relative;
}

.youngInnovator_select:hover{
  background-color: #f74b42;
}

.youngInnovator_select div{
  position: absolute;
  background-color: #f74b42;
  top:100%;
  left: 0;
  right: 0;
  z-index: 99;  
}


@media (max-width: 600px) {

.dropdown{
    font-size: 11px;
  }
.youngInnovator_btn {
    margin-top: 40px;
    margin-left: 150px;
}

.youngInnovator_btn button{
    font-size: 10px;
    margin-left: -44px;
}
  .youngInnovatorCards__singleCard__bottomRightImg {
    display: flex;
    flex-direction: column;
  }

  .youngInnovatorCards__header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 45px;
    margin-top: 45px;
  }
  
.youngInnovatorCards__header div {
    margin-left: 41px;
}

  .youngInnovatorCards__header h3 {
    font-size: calc(24 * var(--vm));
    text-align: center;
  }
  .youngInnovatorCards__header hr {
    border-color: #f74b42;
    width: 40%;
    margin: calc(80.5 * var(--vp)) auto 40px auto;
    border-width: calc(15 * var(--vp));
  }
  .youngInnovatorCards__enrollBtn {
    background-color: #f74b42;
    font-size: calc(20 * var(--vm));
    letter-spacing: 0;
    /* height: calc(31 * var(--vm)); */
    color: #ffffff;
    text-transform: capitalize;
    border: calc(2 * var(--vp)) solid #f74b42;
    border-radius: 40px;
    margin: 40px auto 0 auto;
    width: fit-content;
    padding: 20px 40px;
  }
  .youngInnovator_buttons{
    display: flex;
    margin: auto;
    margin-top: 20px;
  }
  .youngInnovator_buttons button{
    margin-right: 5px;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
}


