
.youngInnovator_header{
    color: #3cfaff;
    padding: 40px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 30px;
}


.youngInnovator_header p, .youngInnovator_para h3{
    font-size: calc(28 * var(--vp)) !important;
    color: #fff;
    letter-spacing: calc(1.58 * var(--vp));
    width: 900px;
    text-align: center;
    margin: auto; 
}

.youngInnovator_header h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
}



@media (min-width: 700px){
    .youngInnovator_process{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .register, .interview, .result, .innovator{
        position: relative;
    }
    
    
    .register .register-below{
        border-top: 200px solid #161d6f;
        width: 350px;
        padding-left: 100px;
    }
    
    .interview .interview-above{
        width: 0px;
        height: 0px;
        border-top: 100px solid transparent;
        border-left: 80px solid #161d6f;
        border-bottom: 100px solid transparent;
        position: absolute;
    }
    
    .interview .interview-below{
        border-top: 200px solid #1d2d50;
        width: 400px;
        padding-left: 100px;
    }
    
    .result .result-above{
        width: 0px;
        height: 0px;
        border-top: 100px solid transparent;
        border-left: 80px solid #1d2d50;
        border-bottom: 100px solid transparent;
        position: absolute;
    }
    
    .result .result-below{
        border-top: 200px solid #161d6f;
        width: 400px;
        padding-left: 100px;
    }
    
    .innovator .innovator-above{
        width: 0px;
        height: 0px;
        border-top: 100px solid transparent;
        border-left: 80px solid #161d6f;
        border-bottom: 100px solid transparent;
        position: absolute;
    }
    
    .innovator .innovator-below{
        border-top: 200px solid #1d2d50;
        width: 400px;
        padding-left: 100px;
    }
    
    .register img, .innovator img, .result img, .interview img{
        width: 25%;
        height: 56%;
        margin-right: 100px;
        margin-top: -250px;
    }
    
    .register h4, .innovator h4, .result h4, .interview h4{
        font-size: 1.5rem;
        width: 250px;
        text-align: center;
        margin-top: -173px;
        margin-left: 30px;
        color: #3cfaff;
        font-size: calc(48 * var(--vp));
    }
    
    .interview h4{
        margin-left: 40px;
    }
    
    .result h4, .innovator h4{
        margin-left: 55px;
        margin-top: -180px;
    }
    
    .innovator h4{
        margin-top: -185px; 
    }
    
     
}

@media (max-width: 600px){

.youngInnovator_process  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.youngInnovator_header h2{
    font-size: calc(24 * var(--vm));
    text-align: center;
}


.youngInnovator_header p{
    font-size: calc(14 * var(--vm)) !important;
    width: 200px;
}

.youngInnovator_process div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
} 

.register, .result{
    background-color: #161d6f;
    position: relative;
    height: 150px;
    width: 100%;
}

.interview, .innovator{
    background-color: #1d2d50;
    position: relative;
    height: 150px;
    width: 100%;
}

.youngInnovator_process img{
    height: 100%;
}

.register img{
    width: 18%;
    margin-left: 86px;
    margin-bottom: 42px;
}

.interview img{
    width: 24%;
    margin-left: 68px;
    margin-bottom: 37px;
}

.innovator img, .result img{
    width: 20%;
    margin-left: 56px;
    margin-bottom: 42px;
}


.register-below h4, .innovator-below h4, .interview-below h4, .result-below h4{
    font-size: calc(14 * var(--vm)) !important;
    width: 200px;
    margin-left: 95px;
    margin-top: -80px;
    color: #3cfaff;
    margin-bottom: 20px;
}

.interview-below h4{
    margin-left: 96px;
}

.result-below h4{
    margin-top: -87px;
    margin-left: 110px;
}

.innovator-below h4 {
    margin-left: 121px;
    width: 153px;
}

}