.courses-testimonials {
  background-color: #0e0234;
  margin: 0 !important;
  padding: calc(106 * var(--vp)) 0 1px 0;
}

.courses-testimonial {
  /* height: calc(721 * var(--vp)); */
  /* width: calc(721 * var(--vp)); */
  height: 550px;
  width: 550px;
  background-color: #190a4d;
  border-radius: calc(15 * var(--vp));
  padding: calc(53 * var(--vp)) calc(48 * var(--vp));
  box-shadow: 0 calc(6 * var(--vp)) calc(6 * var(--vp)) #00000070;
  text-align: center;
  display: inline-block;
  margin: 0 calc(60 * var(--vp)) calc(100 * var(--vp));
}

.courses-testimonial .testimonial-image {
  border-bottom: calc(2.2 * var(--vp)) solid #f74b42;
  padding-bottom: calc(28.5 * var(--vp));
}

.courses-testimonial .testimonial-image img {
  width: calc(238 * var(--vp)) !important;
  height: calc(238 * var(--vp));
  border-radius: calc(238 * var(--vp));
  border: calc(12 * var(--vp)) solid #f74b42 !important;
  padding: 1vw;
}

.testimonial-body .testimonial-desc {
  font-size: calc(28 * var(--vp));
  color: #ffffff;
  letter-spacing: calc(0.56 * var(--vp));
  text-align: left;
  font-weight: 300;
  line-height: normal;
}

.testimonial-body .testimonial-desc .desc-content {
  padding-top: calc(80.5 * var(--vp));
}

.courses-testimonial .testimonial-desc .quote {
  font-size: calc(130 * var(--vp));
  color: #ffffff;
  font-weight: 500;
  height: calc(80 * var(--vp));
}

.courses-testimonial .testimonial-name {
  font-size: calc(22 * var(--vp));
  color: #f74b42;
  margin-top: calc(39 * var(--vp));
  text-align: end;
}

.testimonials-title {
  font-size: calc(48 * var(--vp));
  color: #3cfaff;
  letter-spacing: calc(2.4 * var(--vp));
  text-align: center;
  margin-bottom: calc(24 * var(--vp));
}

.testimonials-subtitle {
  font-size: calc(28 * var(--vp));
  color: #ffffff;
  letter-spacing: calc(1.4 * var(--vp));
  width: calc(1277 * var(--vp));
  text-align: center;
  margin: auto auto calc(90 * var(--vp)) auto !important;
}

.testimonial-row .carousel .control-dots .dot {
  /* background: #ababab;
  border-radius: 50%;
  width: calc(19 * var(--vp));
  height: calc(19 * var(--vp));
  margin: 0 calc(12 * var(--vp));
  opacity: 1; */
}

.testimonial-row .carousel .control-dots .dot.selected {
  /* background: #f74b42;
  width: calc(19 * var(--vp));
  height: calc(19 * var(--vp));
  margin: 0 calc(12 * var(--vp));
  outline: none; */
}

.testimonial-row .carousel-status {
  display: none;
}

.testimonial-row .carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  margin: 0 calc(83 * var(--vp)) !important;
  display: inline-block !important;
  border-top: calc(32 * var(--vp)) solid transparent !important;
  border-bottom: calc(32 * var(--vp)) solid transparent !important;
  content: "\f105";
}

.testimonial-row .carousel .control-next.control-arrow:before {
  border-left: calc(32 * var(--vp)) solid #ffffff;
}

.testimonial-row .carousel .control-prev.control-arrow:before {
  border-right: calc(32 * var(--vp)) solid #ffffff;
}

@media (max-width: 600px) {
  .courses-testimonial {
    height: unset;
    width: 70%;
    margin: 0 auto;
  }
  .testimonials-title {
    font-size: calc(108 * var(--vp));
  }

  .testimonials-subtitle {
    font-size: calc(88 * var(--vp));
    width: 80%;
  }
  .courses-testimonial .testimonial-image img {
    width: 40%;
    height: unset;
    object-fit: contain;
    margin: 10px 0;
    border-radius: 50%;
  }
  .testimonial-body .testimonial-desc .desc-content {
    font-size: calc(80 * var(--vp));
  }
  .courses-testimonial .testimonial-name {
    font-size: calc(60 * var(--vp));
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
  .courses-testimonials .carousel .slider-wrapper {
    margin-bottom: 60px;
  }
  .courses-testimonials .carousel .control-dots .selected {
    background-color: #f74b42;
  }
  .courses-testimonials .carousel .control-arrow {
    top: unset !important;
    bottom: 0 !important;
  }
  .courses-testimonials .carousel .control-next {
    right: 100px !important;
  }
  .courses-testimonials .carousel .control-prev {
    left: 100px !important;
  }
}
