.courses-detailed-lists {
  /* padding-top: calc(44 * var(--vp)); */
  padding-bottom: calc(68 * var(--vp));
  background-color: #0e0234;
  margin: 0 auto !important;
  width: calc(1788 * var(--vp));
}

.courses-detailed-list {
  padding-left: calc(109 * var(--vp));
  padding-right: calc(137 * var(--vp));
}

.courses-detailed-lists > div:not(:first-child) {
  /* padding-top: calc(171 * var(--vp)); */
}

.courses-detailed-list > .courses-items {
  display: flex;
  justify-content: flex-start;
  gap: calc(146 * var(--vp));
  flex-wrap: wrap;
}

.courses-detailed-list > .active-line {
  width: calc(100% + 45 * var(--vp));
  height: calc(3 * var(--vp));
  background: #3cfaff 0% 0% no-repeat padding-box;
  opacity: 1;
}

.courses-detailed-list-item:not(.active) {
  cursor: pointer;
}

.courses-detailed-list-item > .img {
  width: calc(365 * var(--vp));
  height: calc(308 * var(--vp));
  display: flex;
  justify-content: center;
  align-items: center;
}

.courses-detailed-list-item > .img > img {
  width: calc(205 * var(--vp));
  height: calc(205 * var(--vp));
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.courses-detailed-list-item > .name-line {
  height: calc(105 * var(--vp));
  display: flex;
  align-items: center;
  justify-content: center;
}

.courses-detailed-list-item > .name {
  display: none;
}

.courses-detailed-list-item .name {
  font: normal normal 500 calc(33 * var(--vp)) / calc(21 * var(--vp)) Roboto;
  letter-spacing: calc(0.49 * var(--vp));
  color: #f0f0f2;
  opacity: 1;
  text-align: center;
}

.courses-detailed-list-item > .name-line > .line {
  display: none;
}

.courses-detailed-list-item.active > .img {
  background: #030224 0% 0% no-repeat padding-box;
  box-shadow: calc(0 * var(--vp)) calc(3 * var(--vp)) calc(14 * var(--vp))
    #3cfaff;
  border: calc(5 * var(--vp)) solid #3cfaff;
  opacity: 1;
}

.courses-detailed-list-item.active > img {
  margin-bottom: initial;
}

.courses-detailed-list-item.active > .name-line > .name {
  display: none;
}

.courses-detailed-list-item.active > .name {
  min-width: calc(365 * var(--vp));
  max-width: calc(410 * var(--vp));
  line-height: initial;
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(40 * var(--vp));
}

.courses-detailed-list-item.active > .name-line > .line {
  display: block;
  width: calc(25 * var(--vp));
  height: calc(105 * var(--vp));
  background: #3cfaff 0% 0% no-repeat padding-box;
  opacity: 1;
}

@media all and (max-width: 600px) {
  .courses-detailed-lists {
    padding-top: calc(24 * var(--vm));
    /* padding-bottom: calc(78 * var(--vm)); */
  }

  .courses-detailed-list {
    padding-left: calc(15.5 * var(--vm));
    padding-right: calc(15.5 * var(--vm));
  }

  .courses-detailed-lists > div:not(:first-child) {
    padding-top: calc(60 * var(--vm));
  }

  .courses-detailed-list > .courses-items {
    gap: calc(32 * var(--vm));
  }

  .courses-detailed-list > .active-line {
    width: 100%;
    height: calc(1.5 * var(--vm));
  }

  .courses-detailed-list-item > .img {
    width: calc(132 * var(--vm));
    height: calc(126 * var(--vm));
  }

  .courses-detailed-list-item > .img > img {
    width: calc(93 * var(--vm));
    height: calc(93 * var(--vm));
  }

  .courses-detailed-list-item > .name-line {
    height: calc(49 * var(--vm));
  }

  .courses-detailed-list-item .name {
    width: calc(96 * var(--vm));
    font-size: calc(14 * var(--vm));
    line-height: initial;
    letter-spacing: calc(0.21 * var(--vm));
  }

  .courses-detailed-list-item.active > .img {
    box-shadow: calc(0 * var(--vp)) calc(1 * var(--vm)) calc(6 * var(--vm))
      #3cfaff;
    border: calc(3 * var(--vm)) solid #3cfaff;
    opacity: 1;
  }

  .courses-detailed-list-item.active > .name {
    width: calc(96 * var(--vm));
    max-width: initial;
    min-width: initial;
    line-height: initial;
    margin-top: calc(10 * var(--vm));
  }

  .courses-detailed-list-item.active > .name-line > .line {
    width: calc(9 * var(--vm));
    height: calc(49 * var(--vm));
  }
}
