.adminCurriculum {
}

.adminCurriculum__topbar {
  display: flex;
  /* justify-content: center; */
  padding: 20px 5%;
  border-bottom: 1px solid #707070;
}

.adminCurriculum__topbar h3 {
  font-size: 20px;
  margin: 0 80px 0 0;
  color: #929292;
  cursor: pointer;
}

.adminCurriculum__topbar h3:hover {
  color: #4320bf;
}

.adminCurriculum__cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 1rem;
  width: 90%;
  margin: 40px auto;
}
