.adminDashboard {
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.adminDashboard__cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adminDashboard__singleCard {
  background-color: #ffffff;
  height: 200px;
  width: 20%;
  border: 1px solid #5d5b5b;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.adminDashboard__singleCard.active {
  border: 1px solid #4320bf;
  border-bottom: 15px solid #4320bf;
}

.adminDashboard__singleCard.active label {
  color: #4320bf;
}

.adminDashboard__singleCard label {
  font-size: 24px;
  font-weight: 500;
  color: #5d5b5b;
  text-align: center;
}

.adminDashboard__body {
  margin-top: 20px;
  border-radius: 12px;
  border: 1px solid #4320bf;
  background-color: #ffffff;
}

.adminDashboard__body__header {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.adminDashboard__body__headerSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.adminDashboard__body__headerSection div {
  width: 20px;
  height: 20px;
  background-color: #f74b42;
  margin-right: 4px;
}

.adminDashboard__body__headerSection label {
  color: #030224;
  font-size: 18px;
  margin: 0;
}

.adminDashboard__body__filters {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 20px 20px;
}

.adminDashboard__body__filters input {
  border-radius: 5px;
  border: 1px solid #4320bf;
  padding: 8px;
  outline: none;
  color: #333333;
}

.adminDashboard__body__filters input::placeholder {
  color: #8f8f8f;
}

.adminDashboard__body__input__colored {
  border: 2px solid #4320bf !important;
  color: #4320bf;
  background-color: transparent;
  border-radius: 5px;
  padding: 8px;
}

.adminDashboard__body__table {
  /* padding-bottom: 20px  ; */
  width: max-content !important;
}

.adminMasterData__body__filters {
  /* padding-top: 20px; */
  justify-content: flex-start;
}

.adminMasterData__body__filters input {
  margin-right: 20px;
  width: 200px;
}

.adminMasterData__body {
  padding-top: 20px;
}
