@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

.aboutUs{
    padding: 3vw 0 0;
    background-color: #0A0E2A;
}

.aboutUs .section{
    width: 85.41vw;
    margin: auto;
    height: 4.166vw;
}

.aboutRl{
    width: 27.9vw;
    background-color: #F74B42;
    color: #0A0E2A;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.875vw;
    font-weight: 500;
    opacity: 1;
    letter-spacing: 0;
}

.aboutUs .smallsection{
    width: 13.54vw;
    background-color: #171636;
    height: 100%;
    margin-left: 0.8333vw;
    font-size: 1.458vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.aboutUs .main-content{
    margin-top: 10.52vw;
    margin-left: 7.29vw;
}

.aboutUs .main-content-title{
    font-size: 2.86vw;
    text-transform: capitalize;
    opacity: 1;
    color: #3CFAFF;
    height: 9.79vw;
    font-family: 'Comfortaa', cursive;
}

.aboutUs .main-content .sub-content{
    font-size: 1.458vw;
    width: 39.32vw;
    color: #FFFFFF;
    font-weight: 400;
}

.aboutUs .main-content hr{
    margin-top: 5.59vw;
    border: 0.25vw solid #F74B42;
    width: 9.22vw;
    justify-content: left;
    display: flex;
    left: 0;
    margin-bottom: 0;
    margin-right: auto !important;
    border-bottom: none;
    border-right: none;
    border-left: none;
    margin-block-start: none;
    margin-block-end: none;
    margin-inline-start: 0;
    margin-inline-end: auto;
}

.aboutUs .aboutus-video{
    margin-top: 6.39vw;
}

.aboutus-video .video-frame{
    height: 26.458vw;
    width: 44.42vw;
    background-color: #171636;
    margin-left: 8.48vw;
    margin-right: 8.43vw;
}

.aboutUs .video-title{
    color: #3CFAFF;
    font-size: 2.86vw;
    height: 5.72vw;
}

.aboutUs .video-desc{
    font-size: 1.458vw;
    color: #FFFFFF;
    width: 30vw;
    margin-bottom: 2vw;
}

.aboutUs .main-image{
    width: calc(883*var(--vp));
    margin-top: -7vw;
    height: calc(797*var(--vp));
    margin-left: auto;
}

.aboutUs .main-image img{
    width: 100%;
    height: 100%;
}

@media(max-width:767px){
    .aboutUs{
        padding: 5vw 0;
    }

    .aboutUs .section{
        display: flex;
        margin: auto;
        height: max-content;
        height: calc(33 * var(--vm));
        overflow: auto;
        width: unset;
        white-space: nowrap;
        flex-flow: nowrap;
        /* margin-left: calc(37 * var(--vm)); */
        font-weight: 300;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .aboutUs .section::-webkit-scrollbar {
        display: none;
    }

    .aboutRl{
        width: 30.55vw;
        background-color: #F74B42;
        color: #0A0E2A;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: calc(12 * var(--vm));
        font-weight: 500;
        opacity: 1;
        letter-spacing: 0;
        overflow: auto;

    }
    
    .aboutUs .smallsection{
        min-width: calc(76 * var(--vm));
        width: unset;
        background-color: #171636;
        padding: 0 calc(10 * var(--vm));;
        height: 100%;
        margin-left: 3.33vw;
        font-size: calc(12 * var(--vm));
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        overflow: auto;
    }
    
    .aboutUs .main-content{
        margin-top: 18.88vw;
        margin-left: 10.27vw;
    }
    
    .aboutUs .main-content-title{
        font-size: 6.66vw;
        text-transform: capitalize;
        opacity: 1;
        color: #3CFAFF;
        height: max-content;
        margin-bottom: 5.55vw;
    }
    
    .aboutUs .main-content .sub-content{
        font-size: 3.61vw;
        width: 79.44vw;
        color: #FFFFFF;
        font-weight: 400;
    }
    
    .aboutUs .main-content hr{
        margin-top: 8vw;
        border: 0.5vw solid #F74B42;
        width: 16.66vw;
        justify-content: left;
        display: flex;
        left: 0;
        margin-bottom: 0;
        margin-right: auto !important;
        border-bottom: none;
        border-right: none;
        border-left: none;
        margin-block-start: none;
        margin-block-end: none;
        margin-inline-start: 0;
        margin-inline-end: auto;
    }
    
    .aboutUs .aboutus-video{
        margin-top: 6.39vw;
        text-align: center;
        padding: 0 10.2vw;  
    }
    
    .aboutus-video .video-frame{
        height: 47.22vw;
        width: 100%;
        background-color: #171636;
        margin: 0 0 3.61vw;
    }
    
    .aboutUs .video-title{
        color: #3CFAFF;
        font-size: 5.55vw;
        height: max-content;
        margin: 3.61vw auto;
    }
    
    .aboutUs .video-desc{
        font-size: 3.61vw;
        color: #FFFFFF;
        width: 100%;
        margin-bottom: 2vw;
        font-weight: 300;
    }
    .aboutUs .main-image{
        width: 90vw;
        margin-top: unset;
        height: unset;
        margin: auto;
        margin-right: 10.27vw;
    }
}