.popup .modal.show .modal-dialog{
    position: absolute;
    background-color: #171636 !important;
    font-size: 2vw;
    text-align: center;
    padding: 8vw 0 !important;
    white-space: pre-line;
    height: unset !important;
    margin-bottom: -10vw !important;
    z-index: 3;
    top: 15%;
    color: #FFFFFF;
}

.modal-content{
    color: #FFFFFF;
    background-color: #171636 !important;
    background-color: #171636 !important;
    font-size: 2vw;
    text-align: center;
    padding: 8vw 0 !important;
    white-space: pre-line;
    height: unset !important;
    /* margin-bottom: -10vw !important; */
    z-index: 3;
    top: 15%;
    color: #FFFFFF;
}

.modal-header{
    border-bottom: none !important;
    font-size: 2vw !important;
    display: unset;
    padding: unset;
}

.modal-footer{
    display: none;
}

.modal-title{
    color: #3CFAFF;
    letter-spacing: 0.53px;
    margin: 1vw 0;
    font-size: 2vw;
}

.modal-body{
    color: #FFFFFF;
    margin-top: 2vw;
    padding: unset;
}

.modal-header .close{
    color: #3CFAFF !important;
    background-color: transparent;
    border: unset;
    position: absolute;
    right: 2vw;
    top: 1vw;
    font-size: 3vw;
}

.close {
    text-shadow: unset;
    opacity: unset;
}

@media (max-width:1200px){
    .modal-title{
        color: #3CFAFF;
        letter-spacing: 0.53px;
        margin: 1vw 0;
        font-size: 5vw;
    }
    .modal-header .close{
        border: unset;
        position: absolute;
        right: 3vw;
        top: 2vw;
        font-size: 5vw;
    }
    .modal-body{
        color: #FFFFFF;
        margin-top: 6vw;
        padding: unset;
        font-size: 5vw;
    }
    .modal-content{
        padding: 10vw 0 !important;
        width: 100% !important;
    }
    .modal-dialog{
        max-width: unset !important;
        margin: 0 10vw !important;
    }
}