.workshop-school-logo {
  height: 50px;
  position: fixed;
  top: 30px;
  right: calc(120 * var(--vp));
  z-index: 15;
  object-fit: contain;
  /* width: 20%; */
}

.school__broughttoyouby {
  width: 80%;
  margin: 0 auto;
}

.school__broughttoyouby h3 {
  text-align: center;
  color: #3cfaff;
  font: normal normal normal calc(60 * var(--vp)) / calc(79 * var(--vp)) Roboto;
}

.school__broughttoyouby__logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}

.school__broughttoyouby__logos img {
  width: 30%;
}

@media (max-width: 600px) {
  .workshop-school-logo {
    display: none;
  }
  .school__broughttoyouby h3 {
    font-size: 1.5rem;
  }
  .school__broughttoyouby__logos {
    flex-direction: column;
  }

  .school__broughttoyouby__logos img {
    width: 80%;
    margin: 20px 0;
  }
}
