.workshop-school-logo {
  height: 50px;
  position: fixed;
  top: 30px;
  right: calc(120 * var(--vp));
  z-index: 15;
  object-fit: contain;
  /* width: 20%; */
}

@media (max-width: 600px) {
  .workshop-school-logo {
    right: calc(70 * var(--vp));
    width: 30%;
    height: unset;
  }
}
