.desktopLearnCards {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.learn__singleCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18%;
}

.build__singleCard {
  width: 22%;
}

.learn__singleCard img {
  width: 50%;
  height: 70%;
  object-fit: contain;
}

.learn__singleCard h3 {
  margin: 20px 0 0 0;
  color: #f74b42;
  font-size: 1.35vw;
  font-weight: normal;
  text-align: center;
}

.desktop-learn-title {
  text-align: left !important;
}

.learn__mobile__singleCard {
  width: 80%;
  margin: 0 auto 50px auto;
}

.learn__mobile__singleCard h3 {
  margin: 20px 0 0 0;
  color: #f74b42;
  font-size: 4.35vw;
  font-weight: normal;
  text-align: center;
}

@media (max-width: 768px) {
  .desktopLearnCards {
    display: none;
  }

  .desktop-learn-title {
    font-size: 3vh !important;
    padding-left: 7px;
    margin-bottom: 40px !important;
  }
}
