.workshop-batch {
    background: #0A0E2A 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 6vw 10vw 2vw;
}

.workshop-batch > .name {
    text-align: left;
    font-size: 2.5vw;
    letter-spacing: calc(0.82 * var(--vp));
    color: #F74B42;
    opacity: 1;
    font-weight: 500;
    margin-bottom: 2vw;
}

.workshop-batch > .duration {
    text-align: center;
    padding-top: calc(39 * var(--vp));
    padding-bottom: calc(101 * var(--vp));
    font-size: 1.7vw;
    letter-spacing: calc(0.61 * var(--vp));
    color: #FFFFFF;
    opacity: 1;
}

.workshop-batch-item {
    cursor: pointer;
    width: 100%;
}

.workshop-batch-item > div {
    display: flex;
    align-items: center;
    margin: 2.5vw 0;
}

.workshop-batch-item .name {
    text-align: center;
    height: calc(85 * var(--vp));
    border: calc(2.5 * var(--vp)) solid #3CFAFF;
    border-radius: 5px;
    opacity: 1;
    margin-left: 1.5vw;
    font-size: 1.55vw;
    padding: 1vw 1.5vw;
    width: 80%;
    letter-spacing: calc(0.61 * var(--vp));
    color: #FFFFFF;
    opacity: 1;
}

.workshop-batch-item .duration {
    font: normal normal normal calc(37 * var(--vp))/calc(49 * var(--vp)) Roboto;
    letter-spacing: calc(0.56 * var(--vp));
    color: #ABABB6;
    opacity: 1;
    padding-top: calc(8 * var(--vp));
    padding-bottom: calc(62 * var(--vp));
    padding-left: calc(195 * var(--vp));
}

.workshop-batch-item .icon {
    font-size: calc(68 * var(--vp));
}

.workshop-batch .enroll {
    background-color: #F74B42;
    font-size: 1.8vw;
    padding: 0.7vw 3vw;
    border-radius: 3rem;
    width: max-content;
    display: flex;
    margin: 2vw 3vw auto auto;
    /* margin-top: 2vw; */
    margin-bottom: 5.5vh;
    margin: auto;
}

@media (max-width: 768px) and (max-height:900px) {
    .workshop-batch {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .workshop-batch > .name {
        font-size: calc(20 * var(--vm));
        height: calc(20 * var(--vm));
        margin-top: calc(38 * var(--vm));
        margin-bottom: 1.5rem;
    }

    .workshop-batch > .duration {
        padding-top: calc(9 * var(--vm));
        padding-bottom: calc(27 * var(--vm));
        font-size: calc(14 * var(--vm));
        line-height: initial;
        color: #FFFFFF;
        opacity: 1;
    }
    
    .workshop-batch-item .icon {
        font-size: calc(20 * var(--vm));
    }

    .workshop-batch-item .name {
        width: 100%;
        height: unset;
        border: calc(1.5 * var(--vm)) solid #3CFAFF;
        border-radius: 0;
        margin-left: 1.3rem;
        font-size: 0.75rem;
        padding: 0.3rem 0;
        line-height: unset;
    }

    .workshop-batch-item .duration {
        padding-top: calc(6 * var(--vm));
        padding-bottom: calc(17 * var(--vm));
        padding-left: calc(59 * var(--vm));
        font-size: calc(12 * var(--vm));
    }

    .workshop-batch .enroll {
        display: flex;
        justify-content: center;
        width: max-content;
        background-color: #F74B42;
        border-radius: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 1vh 5vh;
    }

    .workshop-batch .enroll {
        font-size: 0.9rem;
        color: #FFFFFF;
        display: flex;
        align-items: center;
    }
}