.student-profile-edit-icon {
    position: absolute;
    top: calc(-30 * var(--vp));
    right: calc(15 * var(--vp));
    color: #32C1CD;
    font-size: calc(50 * var(--vp));
    line-height: initial;
    cursor: pointer;
}

.student-profile-edit-icon > .edit {
    position: absolute;
    right: calc(-32 * var(--vp));
    top: calc(30 * var(--vp));
    transform: rotate(-45deg);
}

.student-profile-edit-icon > .edit > div {
    width: calc(28 * var(--vp));
    height: calc(5 * var(--vp));
    background: #F74B42 0% 0% no-repeat padding-box;
    position: relative;
    border-radius: calc(1 * var(--vp));
}

.student-profile-edit-icon > .edit > div::before {
    position: absolute;
    left: calc(-4 * var(--vp));
    content: "";
    border-top: calc(3 * var(--vp)) solid transparent;
    border-right: calc(6 * var(--vp)) solid #F74B42;
    border-bottom: calc(3 * var(--vp)) solid transparent;
}

/* The actual popup */
.student-profile-edit-icon .popuptext {
    width: calc(500 * var(--vp));
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: calc(6 * var(--vp));
    padding: calc(8 * var(--vp)) calc(0 * var(--vp));
    position: absolute;
    z-index: 1;
    bottom: 75%;
    left: calc(50% - 250 * var(--vp));
    font: normal normal normal calc(30 * var(--vp))/calc(39 * var(--vp)) Roboto;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
  
/* Popup arrow */
.student-profile-edit-icon .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: calc(-5 * var(--vp));
    border-width: calc(12 * var(--vp));
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}