.student-profile-projects, .student-profile-projects .projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.student-profile-projects > .projects-container {
    width: 95%;
}

.student-profile-projects .projects {
    justify-content: initial;
    column-gap: calc(24 * var(--vp));
    margin-bottom: calc(56 * var(--vp));
    align-items: flex-start;
}

.student-profile-projects .projects > div {
    width: calc(249 * var(--vp));
    position: relative;
    cursor: pointer;
}

.student-profile-projects .projects > .add-project {
    border: calc(3 * var(--vp)) dashed rgba(112, 112, 112, 0.5);
    padding: calc(95 * var(--vp)) calc(42.5 * var(--vp));
    font: normal normal 500 calc(30 * var(--vp))/calc(40 * var(--vp)) Roboto;
    letter-spacing: calc(0.45 * var(--vp));
    color: #707070;
    opacity: 0.73;
    text-align: center;
    cursor: pointer;
}

.student-profile-projects .projects > div.draft {
    opacity: 0.46;
}

.student-profile-projects .projects .image {
    width: 100%;
    height: calc(190 * var(--vp));
}

.student-profile-projects .projects .draft > .image {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #171636 0% 0% no-repeat padding-box;
    font: normal normal bold calc(39 * var(--vp))/calc(2 * var(--vp)) Roboto;
    letter-spacing: calc(0.58 * var(--vp));
    color: #ABABB6;
}

.student-profile-projects .projects .project-content {
    width: 100%;
    background: #171636 0% 0% no-repeat padding-box;
    padding: 0 calc(21 * var(--vp));
    padding-top: calc(18 * var(--vp));
    padding-bottom: calc(22 * var(--vp));
}

.student-profile-projects .projects .draft > .project-content {
    background: #ABABB6 0% 0% no-repeat padding-box;
}

.student-profile-projects .projects .project-content > .category {
    font: normal normal 500 calc(14 * var(--vp))/calc(1 * var(--vp)) Roboto;
    letter-spacing: calc(-0.07 * var(--vp));
    color: #F0F0F2;
    height: calc(19 * var(--vp));
    overflow: hidden;
    line-height: initial;
}

.student-profile-projects .projects .project-content > .heading {
    font: normal normal bold calc(22 * var(--vp))/calc(1 * var(--vp)) Roboto;
    letter-spacing: calc(0.33 * var(--vp));
    color: #F74B42;
    height: calc(29 * var(--vp));
    margin-top: calc(3 * var(--vp));
    margin-bottom: calc(11 * var(--vp));
    overflow: hidden;
    line-height: initial;
}

.student-profile-projects .projects .project-content > .brief {
    height: calc(108 * var(--vp));
    font: normal normal normal calc(22 * var(--vp))/calc(29 * var(--vp)) Roboto;
    letter-spacing: calc(0.39 * var(--vp));
    color: #F0F0F2;
    overflow: hidden;
}

.student-profile-projects .projects .draft > .project-content > .category,
.student-profile-projects .projects .draft > .project-content > .heading,
.student-profile-projects .projects .draft > .project-content > .brief {
    color: #707070;
}

.student-profile-projects .projects .plus-icon {
    margin-left: calc(35 * var(--vp));
    margin-right: calc(35 * var(--vp));
    margin-bottom: calc(28.5 * var(--vp));
    width: calc(94 * var(--vp));
    height: calc(94 * var(--vp));
    font-size: calc(94 * var(--vp));
    line-height: initial;
    color: #3A3C4A;
}

.student-profile-projects .projects .enable-share {
    padding: 0 calc(53.5 * var(--vp));
    padding-top: calc(16 * var(--vp));
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;
}

.student-profile-projects .projects .enable-share > button {
    width: calc(45 * var(--vp));
    height: calc(19 * var(--vp));
    border-radius: calc(18 * var(--vp));
    position: relative;
    background: #221F1F42 0% 0% no-repeat padding-box;
    margin-right: calc(30 * var(--vp));
    outline: none;
    border-width: 0;
}

.student-profile-projects .projects .enable-share > .enabled {
    background: rgba(247, 75, 66, 0.6) 0% 0% no-repeat padding-box;
}

.student-profile-projects .projects .circle {
    width: calc(25 * var(--vp));
    height: calc(25 * var(--vp));
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: calc(50% - 13.5 * var(--vp));
    background: #F1F1F1 0% 0% no-repeat padding-box;
    box-shadow: calc(0 * var(--vp)) calc(2 * var(--vp)) calc(2 * var(--vp)) #0000003D;
}

.student-profile-projects .projects .enabled .circle {
    left: unset;
    right: 0;
    background: #F74B42 0% 0% no-repeat padding-box;
}

.student-profile-projects .projects .enable-share > .share-icon {
    font-size: calc(37 * var(--vp));
    color: #F74B42;
    cursor: pointer;
}

.student-profile-projects .dots {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    column-gap: calc(24 * var(--vp));
}

.student-profile-projects .dots > div {
    width: calc(11 * var(--vp));
    height: calc(11 * var(--vp));
    border-radius: 50%;
    background: rgba(171, 171, 182, 0.6) 0% 0% no-repeat padding-box;
    cursor: pointer;
}

.student-profile-projects .dots > .active {
    background: #F74B42 0% 0% no-repeat padding-box;
}

.student-profile-projects .projects .project-remove-icon {
    position: absolute;
    left: calc(-16.5 * var(--vp));
    top: calc(-16.5 * var(--vp));
    width: calc(33 * var(--vp));
    height: calc(33 * var(--vp));
    font-size: calc(33 * var(--vp));
    color: #707070;
    cursor: pointer;
}

.student-profile-projects .popuptext {
    width: calc(500 * var(--vp));
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: calc(6 * var(--vp));
    padding: calc(8 * var(--vp)) calc(0 * var(--vp));
    position: absolute;
    z-index: 1;
    bottom: 75%;
    left: calc(50% - 250 * var(--vp));
    font: normal normal normal calc(30 * var(--vp))/calc(39 * var(--vp)) Roboto;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
  
.student-profile-projects .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: calc(-5 * var(--vp));
    border-width: calc(12 * var(--vp));
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}