.header .app-icon {
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    width: calc(170 * var(--vp));
    height: calc(142 * var(--vp));
}

.header .app-name {
    text-align: center;
    letter-spacing: calc(0 * var(--vp));
    color: #FFFFFF;
    margin-left: calc(-37 * var(--vp));
    opacity: 1;
    font: normal normal 500 calc(47 * var(--vp))/calc(62 * var(--vp)) Roboto;
    width: calc(354 * var(--vp));
    height: calc(62 * var(--vp));
}

.header .nav-menu-icon {
    margin-right: calc(107 * var(--vp));
    font-size: calc(53 * var(--vp));
    cursor: pointer;
    color: #3CFAFF;
}

.header .nav-menu {
    position: fixed;
    right: 0;
    z-index: 15;
}

.header > .header-app-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header {
    padding-top: calc(53 * var(--vp));
    padding-left: calc(73 * var(--vp));
    background: #0A0E2A 0% 0% no-repeat padding-box;
    border: calc(0 * var(--vp)) solid #707070;
    opacity: 1;
}

/* Mobile CSS similar to @media all and (max-width: 600px) {
    
} */

.header.mobile .app-icon {
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    width: calc(53 * var(--vm));
    height: calc(44 * var(--vm));
}

.header.mobile .app-name {
    text-align: center;
    letter-spacing: calc(0 * var(--vm));
    color: #FFFFFF;
    margin-left: calc(-13 * var(--vm));
    opacity: 1;
    font-size: calc(20 * var(--vm));
    width: calc(143 * var(--vm));
    height: calc(26 * var(--vm));
    line-height: initial;
    text-transform: capitalize;
}

.header.mobile .nav-menu-icon {
    margin-right: calc(16 * var(--vm));
    font-size: calc(18 * var(--vm));
    color: #FFFFFF;
    cursor: pointer;
}

.header.mobile {
    padding-top: calc(30 * var(--vm));
    padding-left: calc(16 * var(--vm));
}

@media all and (max-width: 600px) {
    
}