.blogAdmin {
  background-color: white;
  /* padding: 20px; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* flex-direction: column; */
  min-height: 100vh;
}

.blogAdmin__sidebar {
  flex: 0.1;
  background-color: #f5f5f5;
}

.blogAdmin__sidebar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 10px;
}

.blogAdmin__sidebar ul li {
  padding: 10px 0;
  color: #333333;
  font-size: 14px;
  cursor: pointer;
}

.blogAdmin__sidebar ul li.selected {
  font-weight: bold;
  border-bottom: 1px solid;
}

.blogAdmin__body {
  flex: 0.9;
}

.blogAdmin__inputSection {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* margin-bottom: 20px; */
}

.blogAdmin__inputSection label {
  width: 30%;
}

.blogAdmin__inputSection input,
.blogAdmin__inputSection textarea {
  width: 65%;
  outline: none;
  color: #333333;
}

.blogAdmin__quil {
  width: 50%;
  margin-bottom: 20px;
  height: 400px;
}

.blogAdmin__submitBtn {
  margin: 40px auto 0 auto;
  border: none;
  background-color: #3cfaff;
  color: #333333;
  padding: 6px 12px;
  text-transform: uppercase;
  font-weight: 500;
}
