.freeclass-banner {
  background-image: url("../img/banner.png");
  background-size: cover;
  height: calc(740 * var(--vp));
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.freeclass-banner .banner-title {
  font-size: calc(48 * var(--vp));
  font-weight: 500;
  letter-spacing: calc(0.3 * var(--vp));
}

.freeclass-banner .banner-content {
  font-size: calc(28 * var(--vp));
  padding-top: calc(27 * var(--vp));
  font-weight: 400;
  margin: 0 auto;
  width: calc(680 * var(--vp));
  line-height: normal;
}

.freeclass-banner .freeclass-button button {
  width: calc(493 * var(--vp));
  height: calc(92 * var(--vp));
  font-size: calc(28 * var(--vp));
  border: calc(3 * var(--vp)) solid #ffffff;
  border-radius: calc(90 * var(--vp));
  background: transparent;
  color: #ffffff;
  margin-top: calc(63 * var(--vp));
}

.freeclass-banner .freeclass-button button:hover {
  color: rgb(5, 5, 77);
  background-color: #ffffff;
}

@media (max-width: 600px) {
  .freeclass-banner {
    background-image: url("../img/HomePageBG.png");
    /* margin: calc(149 * var(--vp)) 0 0 !important; */
    padding: calc(81 * var(--vm)) 0 calc(80 * var(--vm));
    height: calc(352 * var(--vm));
  }
  .freeclass-banner .banner-title {
    font-size: calc(24 * var(--vm));
    width: calc(241 * var(--vm));
    margin: auto;
    text-align: center;
    font-weight: 400;
    color: #ffffff;
  }

  .freeclass-banner .banner-content {
    font-size: calc(13 * var(--vm));
    text-align: center;
    font-weight: 300;
    width: calc(280 * var(--vm));
    margin: auto;
    color: #ffffff;
    margin-top: calc(16 * var(--vm));
    font-weight: lighter;
  }

  .freeclass-banner .freeclass-button button {
    margin-top: calc(29 * var(--vm));
    font-size: calc(15 * var(--vm));
    color: #ffffff;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    align-items: center;
    height: calc(38 * var(--vm));
    width: max-content;
    padding: 0 16px;
    /* border-radius: calc(5 * var(--vm)); */
    border: calc(2 * var(--vm)) solid #fff;
  }
}
