@media (max-width: 600px) {
  .youngInnovatorMethodology__title {
    font-size: calc(24 * var(--vm)) !important;
    text-align: center;
  }
  .youngInnovatorMethodology__titleContent {
    margin-bottom: 40px !important;
  }
}
